// --------------fonts ------------------------
.header__signin {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
}
.header__signup {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
}
.header__link {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
}
.header__logo__text {
    font-size: calc(1rem + 0.586vw);
    line-height: calc(1rem + 0.586vw);
}
.intro__title {
    font-size: calc(1rem + 3.516vw);
    line-height: calc(1rem + 5.469vw);
}
.intro__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}

.intro__title {
    font-size: calc(1.37rem + 3vw); //50px in 3%
    line-height: calc(2.8rem + 3vw); //70px in 3%
}
.benefits__card-title {
    font-size: calc(1rem + 1.074vw);
    line-height: calc(1rem + 1.563vw);
}
.benefits__card-desc {
    font-size: calc(1rem + 0.586vw);
    line-height: calc(1rem + 1.563vw);
}
.feature__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
}
.feature__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}
.feature__item {
    font-size: 14px;
    line-height: calc(1rem + 1.563vw);
}
.plan__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
}
.plan__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}
.plan__card-title {
    font-size: calc(1rem + 0.391vw);
    line-height: calc(1rem + 1.563vw);
}
.plan__card-desc {
    margin-left: calc(1rem + 1.074vw);
    font-size: 14px;
    line-height: calc(1rem + 1.563vw);
}
.plan__card-price {
    margin-top: calc(1rem + 3.516vw);
    font-size: calc(1rem + 1.074vw);
    line-height: calc(1rem + 1.563vw);
}
.plan__select__button {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
}
.map__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
}
.map__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}
.customers__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
}
.customers__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}

.customer__name {
    font-size: calc(1rem + 0.391vw);
    line-height: calc(1rem + 0.391vw);
}

.customer__rate {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.195vw);
}
.customer__comment {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}
.subscribe__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.027vw);
}
.subscribe__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.195vw);
}
.subscribe__button {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.074vw);
}
.footer__com_name {
    font-size: calc(1rem + 0.586vw);
    line-height: calc(1rem + 0.586vw);
}
.footer__vpn {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}
.footer__year {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}

.footer__menu-title {
    font-size: calc(1rem + 0.391vw);
    line-height: calc(1rem + 1.563vw);
}
.footer__menu-item {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
}

// --------------fonts ------------------------
