@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-aadjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------*/
body {
  font-family: "Rubik";
  max-width: 1440px;
  min-width: 260px;
  margin: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  background: #ffffff;
  font-family: "Rubik";
}

.block {
  max-width: 1200px;
  padding: 0px 30px;
  width: 100%;
}

.shadow {
  box-shadow: 0 35px 20px rgba(235, 235, 242, 0.3803921569);
}

.header {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}

.header__nav {
  margin-right: 40px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px -5px;
  min-width: 500px;
}

.header__item {
  margin-right: 40px;
}

.header__link {
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  text-decoration: none;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 55px;
}

.header__logo-link {
  width: 35px;
  height: 36px;
  margin-right: 5px;
}

.header__logo__text {
  margin-left: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.header__logo-pic {
  width: 35px;
  height: 36px;
  margin-right: 5px;
}

.header__sign {
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
  min-width: 250px;
}

.header__signin {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  margin-right: 5px;
  background-color: transparent;
}

.header__signup {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  border: 1px solid #f53855;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  background-color: transparent;
  margin-left: 5px;
}

.header__signup:hover {
  background: #f53838;
  color: #ffffff;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

.intro__about {
  max-width: 46%;
}

.intro__title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 10px;
}

.intro__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin: 10px 0px 25px 0px;
}

.intro__button {
  margin-top: 25px;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.intro__button:hover {
  color: #ffffff;
  background: rgba(203, 3, 3, 0.8235294118);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.intro__image {
  max-width: 51%;
  height: auto;
}

.benefits {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits__wrap {
  width: 100%;
  border-radius: 10px;
  margin: auto;
  display: flex;
  padding: 37px 0px;
  justify-content: space-evenly;
}

.benefits__card {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.benefits__card-pic {
  margin-right: 36px;
  width: 55px;
  height: 55px;
}

.benefits__card-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  display: block;
}

.benefits__card-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
  display: block;
}

.benefits__line {
  width: 0px;
  min-height: 100%;
  border: 1px solid #eeeff2;
}

.feature {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 125px;
}

.feature__block {
  display: flex;
  justify-content: space-between;
}

.feature__image {
  max-width: 508px;
  margin-right: 20px;
}

.feature__text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-left: 20px;
}

.feature__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-top: 40px;
}

.feature__subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.feature__list {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.feature__cheked {
  margin-right: 12px;
  width: 20px;
  height: 20px;
  align-self: center;
}

.feature__item {
  margin-left: 10px;
  margin-top: -5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  align-self: center;
}

.feature__item::before {
  content: url("/img/section/feature/Vector.svg");
  position: relative;
  top: 6px;
  right: 2px;
}

.plan {
  background: linear-gradient(to top, #ffffff, 80%, #f6f6f6);
  margin: auto;
}

.plan__title__block {
  padding-top: 80px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 384px;
}

.plan__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.plans__cards__block {
  display: flex;
  justify-content: space-between;
}

.plan__card {
  width: 100%;
  margin: 0px 25px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  padding: 80px 10px 50px;
}

.plan__card:hover {
  border: 2px solid #f53838;
}

.plan__card-distr__block {
  height: 80%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__card-pic {
  width: 145px;
  height: 165px;
}

.plan__card-title {
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-top: 30px;
}

.plan__card-list__block {
  height: 80%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.plan__card-list {
  display: flex;
  margin-top: 10px;
}

.plan__card-list::before {
  content: url("/img/section/plan/checked.svg");
}

.plan__card__check-img {
  align-self: center;
  width: 13px;
  height: 9px;
}

.plan__card-desc {
  margin-left: 25px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.plan__card-price__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
}

.plan__card-price {
  align-self: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}
.plan__card-price mark {
  color: #4f5665;
  background-color: #ffffff;
}

.plan__select__button {
  margin-top: 20px;
  align-self: center;
  max-width: 178px;
  width: 100%;
  height: 45px;
  border: 2px solid #f53838;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  background: #ffffff;
  transition: 0.5s;
}

.plan__select__button:hover {
  color: #ffffff;
  background: #f53838;
  box-shadow: 0px 20px 20px -16px rgb(245, 56, 56);
}

.map {
  margin: auto;
}

.map__title__block {
  padding-top: 75px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 384px;
  font-weight: 500;
  font-size: 35px;
}

.map__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.map__image {
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 18px;
}

.clients {
  margin: auto;
  align-items: center;
}

.clients__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.clients__logo {
  max-height: 210px;
  padding-left: 10px;
  padding-right: 10px;
}

.customers {
  margin: auto;
  max-width: 1200px;
  min-width: 0;
}

.customers__title__block {
  padding-top: 75px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.customers__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  padding-bottom: 10px;
  max-width: 448px;
}

.customers__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  max-width: 555px;
  padding-top: 10px;
  width: 100%;
}

.customers__cards {
  margin-left: 6%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
}

.customer__card {
  min-width: 400px;
  border: 3px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.customer__info {
  display: flex;
  align-items: center;
}

.customer__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.customer__text {
  display: flex;
  flex-direction: column;
}

.customer__rating {
  margin-left: 0px;
  margin-top: 10px;
  align-self: flex-start;
}

.customer__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #0b132a;
}

.customer__location {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #4f5665;
}

.customer__rating {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.customer__rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #0b132a;
  margin-right: 11px;
}

.customer__star {
  width: 13px;
  height: 13px;
  margin-bottom: 3px;
}

.customer__comment {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

.buttons {
  margin: auto;
}

.buttons__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
}

.button__dot {
  margin-left: 15px;
  border-radius: 12.5px;
  width: 15px;
  height: 15px;
  background: #dde0e4;
}

.active__button {
  border-radius: 12.5px;
  width: 45px;
  height: 15px;
  background: #f53838;
}

.button__arrow {
  margin-left: 20px;
  cursor: pointer;
}

.rotated__arrow {
  transform: rotate(0.5turn);
}

.button__arrow:hover {
  stroke-width: 2.3px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 15px rgba(206, 79, 79, 0.197);
}
.button__arrow:hover path {
  fill: #ffffff;
  stroke-width: 1px;
  stroke: #ffffff;
}
.button__arrow:hover circle {
  fill: #f53838;
}

.subscribe {
  width: 95%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 4.4% 5.3%;
  z-index: 2;
  position: relative;
  top: 100px;
}

.subscribe__title {
  display: flex;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
  max-width: 372px;
  width: 100%;
}

.subscribe__subtitle {
  margin-top: 20px;
  max-width: 410px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4f5665;
}

.subscribe__button {
  margin-left: 5px;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

.subscribe__button:hover {
  color: #ffffff;
  background: rgba(203, 3, 3, 0.8235294118);
  box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
}

.footer {
  margin: auto;
  background-color: #f8f8f8;
}

.footer__wrapper {
  max-width: 95%;
  padding: 164px 5% 0.5% 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer__logo-link img {
  width: 35px;
  height: 35px;
}

.footer__com_name {
  width: 104px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
  margin-left: 10px;
}

.footer__vpn {
  margin-top: 26px;
  max-width: 340px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 30px;
}

.footer__socs {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
}

.footer__soc {
  width: 33px;
  height: 33px;
  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
  border-radius: 50%;
  overflow: hidden;
}

.footer__year {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.footer__nav {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__menu-title {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  padding-bottom: 20px;
}

.footer__menu-item {
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background: transparent;
}
.footer__menu-item a {
  color: #4f5665;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
} /* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  margin-right: 30px;
  padding: 30px;
} /* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
}

/* Элемент точки */
.slick-dots button {
  font-size: 0;
  margin-left: 7.5px;
  margin-right: 7.5px;
  border-radius: 12.5px;
  width: 15px;
  height: 15px;
  background: #dde0e4;
}

/* Активная точка */
li.slick-active button {
  border-radius: 7.5px;
  width: 45px;
  height: 15px;
  background: #f53838;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .header__signin {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
  }
  .header__signup {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
  }
  .header__link {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
  }
  .header__logo__text {
    font-size: calc(1rem + 0.586vw);
    line-height: calc(1rem + 0.586vw);
  }
  .intro__title {
    font-size: calc(1rem + 3.516vw);
    line-height: calc(1rem + 5.469vw);
  }
  .intro__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .intro__title {
    font-size: calc(1.37rem + 3vw);
    line-height: calc(2.8rem + 3vw);
  }
  .benefits__card-title {
    font-size: calc(1rem + 1.074vw);
    line-height: calc(1rem + 1.563vw);
  }
  .benefits__card-desc {
    font-size: calc(1rem + 0.586vw);
    line-height: calc(1rem + 1.563vw);
  }
  .feature__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
  }
  .feature__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .feature__item {
    font-size: 14px;
    line-height: calc(1rem + 1.563vw);
  }
  .plan__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
  }
  .plan__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .plan__card-title {
    font-size: calc(1rem + 0.391vw);
    line-height: calc(1rem + 1.563vw);
  }
  .plan__card-desc {
    margin-left: calc(1rem + 1.074vw);
    font-size: 14px;
    line-height: calc(1rem + 1.563vw);
  }
  .plan__card-price {
    margin-top: calc(1rem + 3.516vw);
    font-size: calc(1rem + 1.074vw);
    line-height: calc(1rem + 1.563vw);
  }
  .plan__select__button {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.488vw);
  }
  .map__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
  }
  .map__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .customers__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.516vw);
  }
  .customers__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .customer__name {
    font-size: calc(1rem + 0.391vw);
    line-height: calc(1rem + 0.391vw);
  }
  .customer__rate {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.195vw);
  }
  .customer__comment {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .subscribe__title {
    font-size: calc(1rem + 2.051vw);
    line-height: calc(1rem + 3.027vw);
  }
  .subscribe__subtitle {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 0.195vw);
  }
  .subscribe__button {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.074vw);
  }
  .footer__com_name {
    font-size: calc(1rem + 0.586vw);
    line-height: calc(1rem + 0.586vw);
  }
  .footer__vpn {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .footer__year {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .footer__menu-title {
    font-size: calc(1rem + 0.391vw);
    line-height: calc(1rem + 1.563vw);
  }
  .footer__menu-item {
    font-size: calc(1rem + 0.195vw);
    line-height: calc(1rem + 1.563vw);
  }
  .header {
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .header__menuButton {
    order: 2;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
  }
  .burger {
    margin: 13px 0px;
  }
  .burger__close {
    width: 32px;
    height: 2px;
    background-color: #4f5665;
    transition: 0.5s;
    margin: auto 0;
  }
  .burger__close:before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #4f5665;
    transition: 0.5s;
    position: absolute;
    top: 3px;
    margin-top: 3px;
  }
  .burger__close:after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #4f5665;
    transition: 0.5s;
    position: absolute;
    top: -6px;
    margin-bottom: 3px;
  }
  .burger__open {
    width: 28px;
    height: 2px;
    background-color: transparent;
    transition: 0.5s;
    margin: auto 0;
  }
  .burger__open:before {
    content: "";
    width: 39px;
    height: 2px;
    background-color: #4f5665;
    transition: 0.5s;
    position: absolute;
    transform: rotate(45deg);
    right: -5px;
  }
  .burger__open:after {
    content: "";
    width: 39px;
    height: 2px;
    background-color: #4f5665;
    transition: 0.5s;
    position: absolute;
    transform: rotate(-45deg);
    right: -5px;
  }
  .header__logo {
    margin-right: 0px;
    justify-content: flex-start;
    margin: 20px 0px;
    order: 1;
    width: 50%;
  }
  .header__nav {
    width: 65%;
    order: 3;
    margin: 0;
    position: fixed;
    top: 0;
    min-height: 30%;
    height: 100%;
    margin-left: -20px;
    background-color: white;
    padding-top: 100px;
    padding-left: 20px;
    box-shadow: 3px 1px 19px 0px rgba(163, 67, 55, 0.6);
    z-index: 1000;
  }
  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__signup {
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
    width: 80px;
    color: #0b132a;
    margin: 0px;
    border: none;
    text-align: left;
  }
  .header__signup:hover {
    all: unset;
  }
  .header__signin {
    font-size: 21px;
    line-height: 36px;
    width: 80px;
    text-align: left;
  }
  .header__sign {
    width: 65%;
    min-width: auto;
    margin-left: 0px;
    order: 2;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    height: 80px;
    margin-left: -20px;
    padding-top: 20px;
    background-color: white;
    padding-left: 20px;
    z-index: 1000;
  }
  .header__link {
    font-size: 21px;
  }
  .header__line {
    display: none;
  }
  .header__menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__button {
    display: block;
    margin: 0;
    padding: 10px 5px;
  }
  .header__item {
    padding: 10px;
  }
  .hidden {
    display: none;
  }
  .customer__card {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
  }
  .intro__about {
    max-width: 100%;
  }
  .feature__block {
    flex-direction: column;
    align-items: center;
  }
  .feature__image {
    max-width: 70%;
  }
  .feature__text {
    max-width: 100%;
  }
  .intro__button {
    width: 150px;
    height: 45px;
  }
  .plan__card {
    margin: 5% 1%;
  }
  .footer__wrapper {
    flex-direction: column-reverse;
  }
  .footer__nav {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 568px) {
  .plans__cards__block {
    flex-direction: column;
  }
  .clients__block {
    flex-direction: column;
    width: 90%;
  }
  .clients__logo {
    padding-bottom: 15px;
  }
  .benefits__card {
    flex-direction: column;
  }
  .benefits__card-pic {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .benefits__card-title {
    text-align: center;
  }
  .benefits__text {
    display: flex;
    flex-direction: column;
  }
  .plan__card {
    margin: 5% auto;
  }
  .buttons__block {
    flex-direction: column;
  }
  .buttons__left {
    margin-bottom: 30px;
  }
  .button__dot {
    margin-right: 15px;
  }
  .button__arrow {
    margin-left: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .subscribe {
    flex-direction: column;
  }
  .subscribe__block {
    text-align: center;
    margin-bottom: 15px;
  }
  .subscribe__button {
    max-width: 80%;
  }
}
